.body {
  height: 90vh;
  margin: auto;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.header {
  color: white;
  background-color: rgb(33, 112, 33);
}

.drawer {
  border-color: rgb(33, 112, 33);
}
