.body {
  min-height: 90vh;
  margin: auto;
}

.no-text-decoration {
  text-decoration: none;
  color: inherit;
}

.header {
  color: white;
  background-color: rgb(33, 112, 33);
}

.drawer {
  border-color: rgb(33, 112, 33);
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.content {
  height: 100%;
  padding: 5em 5em;
  overflow-y: auto;
}

.search-page {
  height: 100%;
}

.search-results {
  min-height: 500px;
}

.unstyled-link {
  color: black;
  text-decoration: none;
}
